@model DrReport.Models.DiseaseSymptom
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <link rel="stylesheet" href="~/Styles/Symptoms/style/steps.css">
    <link rel="stylesheet" href="~/Styles/Symptoms/style/inform.css" />
    <link rel="stylesheet" href="~/Styles/Main/main.css">
</head>

<body>
    <div class="stepper-container">
        <div class="steps">
            <div class="progress">
                <div class="line"></div>
            </div>
            <div class="labels">
                <ul>
                    <li class="active">Introduction</li>
                    <li>Patient</li>
                    <li>Add Sympotms</li>
                    <li>Interview</li>
                    <li>Results</li>
                </ul>
            </div>
        </div> <!-- steps div end -->

        <div class="content">
            <!-- step one -->
            <div class="step-style step-one active">
                <div class="image">
                    <img src="~/Styles/Symptoms/images/introduction-image.png" alt="">
                </div>
                <div class="data">
                    <h3>Hello!</h3>
                    <p>You are about to do safe health checkup. Your answers will be carefully analyzed and you 'll learn about possible causes of your symptoms. about possible causes of your symptoms.</p>
                </div>
            </div>
            <!-- step two -->
            <div class="step-style step-two">
                <div class="data">
                    <h3>Terms of Service</h3>
                    <h5>Before using the checkup, please read Terms of Service.<br></h5>
                    <p>
                        Remember that:<br>
                        - This Checkup is not a diagnosis.<br>
                        - This will help you know the diagnosis test that fit you best <br>
                        - Then you have the option ti make appointment or not <br>
                    </p>

                    <div class="input">
                        <input type="checkbox" name="terms" onchange="validateTerms()">
                        <span>I read and accept Terms of Service and Privacy Policy.</span>
                    </div>
                </div>
                <div class="image">
                    <img src="~/Styles/Symptoms/images/tablet.png" alt="">
                </div>
            </div>
            <!-- step three -->
            <div class="step-style step-three">
                <div class="data">
                    <div class="element">
                        <p>Gender:</p>
                        <input type="radio" name="gender" onchange="validatePersonDate()"><span>Male</span>
                        <input type="radio" name="gender" onchange="validatePersonDate()"><span>Female</span>
                    </div>
                    <div class="element">
                        <p>Age:</p>
                        <input type="number" name="" id="" oninput="validatePersonDate()">
                    </div>
                </div>
            </div>
            <!-- step four -->
            <div class="step-style step-four">
                <div class="data">
                    <h3>Please check all the statements below that apply to you.</h3>
                    <h5>Select one answer in each element.</h5>
                    <div class="element">
                        <p>I’m overweight or obese</p>
                        <input type="radio" name="weight" onchange="validatePatientDate()"><span>Yes</span>
                        <input type="radio" name="weight" onchange="validatePatientDate()"><span>No</span>
                        <input type="radio" name="weight" onchange="validatePatientDate()"><span>Don't</span>
                    </div>
                    <div class="element">
                        <p>I smoke cigarettes</p>
                        <input type="radio" name="smoke" onchange="validatePatientDate()"><span>Yes</span>
                        <input type="radio" name="smoke" onchange="validatePatientDate()"><span>No</span>
                        <input type="radio" name="smoke" onchange="validatePatientDate()"><span>Don't</span>
                    </div>
                    <div class="element">
                        <p>I’ve recently suffered an injury</p>
                        <input type="radio" name="suffer" onchange="validatePatientDate()"><span>Yes</span>
                        <input type="radio" name="suffer" onchange="validatePatientDate()"><span>No</span>
                        <input type="radio" name="suffer" onchange="validatePatientDate()"><span>Don't</span>
                    </div>
                    <div class="element">
                        <p>I have high cholesterol</p>
                        <input type="radio" name="high" onchange="validatePatientDate()"><span>Yes</span>
                        <input type="radio" name="high" onchange="validatePatientDate()"><span>No</span>
                        <input type="radio" name="high" onchange="validatePatientDate()"><span>Don't</span>
                    </div>
                    <div class="element">
                        <p>I have hypertension</p>
                        <input type="radio" name="hypertension" onchange="validatePatientDate()"><span>Yes</span>
                        <input type="radio" name="hypertension" onchange="validatePatientDate()"><span>No</span>
                        <input type="radio" name="hypertension" onchange="validatePatientDate()"><span>Don't</span>
                    </div>
                </div>
            </div>
            <!-- step five -->
            <div class="step-style step-five">
                <div class="data">
                    <h3>Add symptoms</h3>
                    <p>Please use the search. Add as many symptoms as you can for the<br>most accurate results.</p>
                    <input type="hidden" id="txtValue" oninput="validateSymptoms()" />
                    <select class="myselect form-control" style="width:500px" multiple>
                    </select>
                </div>
                <script>
                    $(document).ready(function () {

                        $(".myselect").select2({
                            placeholder: 'Add Minimum 3 Symptoms, e.g headache',
                            ajax: {
                                url: "/InformSymptoms/GetSymptomList",  /*controller action*/
                                dataType: "json",
                                data: function (params) {
                                    return {
                                        searchTerm: params.term
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: data
                                    };
                                }
                            }

                        });
                        $(".myselect").on("change", function () {
                            if ($('#txtValue').val().length >= 3) {
                                $('#next').attr('disabled', false);
                            } else {
                                $('#next').attr('disabled', true);
                            }
                            var Id = $(this).val();
                            $("#txtValue").val(Id);
                            var temp = $("#txtValue").val();
                            $.ajax({
                                type: "post",
                                dataType: "json",
                                url: "/InformSymptoms/GetSelectedSymptoms?data=" + temp,
                            })

                        });
                    });
                </script>
            </div>
            <!-- step six -->
            <div class="step-style step-six">
                <div class="data">
                    <h3>Do you have any of the following symptoms?</h3>
                    <div class="element">
                        <input type="checkbox" onchange="validateQuestions()"><span>Fatigue</span>
                    </div>
                    <div class="element">
                        <input type="checkbox" onchange="validateQuestions()"><span>Fever</span>
                    </div>
                    <div class="element">
                        <input type="checkbox" onchange="validateQuestions()"><span>Feeling sick</span>
                    </div>
                    <div class="element">
                        <input type="checkbox" onchange="validateQuestions()"><span>Vomiting</span>
                    </div>
                    <div class="element">
                        <input type="checkbox" onchange="validateQuestions()"><span>Chills</span>
                    </div>
                    <div class="element">
                        <input type="checkbox" onchange="validateQuestions()"><span>Dizzy</span>
                    </div>
                </div>
            </div>
            <div class="step-style step-seven">
                <div class="image">
                    <img src="~/Styles/Symptoms/images/doctor.svg" alt="">
                </div>
                <div class="data">
                    <p>Recommendation</p>
                    <h3>Consult a doctor</h3>
                    <h5>Your symptoms may require medical evaluation. Schedule an appointment<br>with your doctor. If your symptoms get worse, see a doctor immediately.</h5>
                    <h3>Potential disease</h3>
                    <p style="color:darkslategrey">@ViewBag.finaldisease_name</p>
                    <h3>Recommended diagnosis test</h3>
                    <p style="color:darkslategrey">@ViewBag.diagnosistest</p>
                    <h3>Precautions</h3>
                    <p style="color:darkslategrey">@ViewBag.precaution</p>

                </div>
            </div>
            <!-- buttons -->
            <div class="buttons-container">
                <div class="back" onclick="backStep()">
                    <img src="~/Styles/Symptoms/images/back.png" alt="">
                    <span>Back</span>
                </div>
                <div class="end">
                    <button id="next" class="button" onclick="getNextStep()">Next</button>
                    <form action="/MakeAppointment/index">
                        <button id="finish" class="btn btn-primary">Make Appointment</button>
                    </form>
                </div>
            </div>
        </div> <!-- content div end -->

    </div> <!-- steps container end -->
    <script src="~/Styles/Symptoms/script/script.js"></script>
</body>
</html>

