@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a href="/Signin/Index">login</a>
        <a href="/DoctorHome/Index">doctorhome</a>
        <a href="/PatientHome/Index">patienthome</a>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
