
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <!--bootstrap css link-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!--style css link-->
    <link rel="stylesheet" href="~/Styles/Signup/signup.css">
</head>
<body>
    <!--section with margin 4,3-->
    <section class="form my-4 mx-3">
        <div class="container">
            <div class="row no-gutters">
                <!--the left side  "Image"-->
                <div class="col-lg-6">
                    <img src="~/Styles/Signup/Images/main.png" class="img-fluid" alt="">
                </div>
                <!--the right side  "form"-->

                <div class="col-lg-6 px-7 pt-5">
                    <form action="" class="mx-5 ">
                        <h1 class="head_signup">SIGN UP</h1>

                        <!-- signup as patient /doctor section   "pateint is selected"-->
                        <div>
                            <h3 class="head_selectaccount">Select Account Type</h3>
                            <nav aria-label="Signup as">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link " href="/PatientSignUp/index">Patient</a></li>
                                    <li class="page-item"><a class="page-link bg-primary text-white" href="/DoctorSignUp/index">Doctor</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!--row1 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="text" placeholder="First Name" class="form-control my-1  p-4">
                            </div>
                        </div>

                        <!--row2 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Last Name" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <!--row3 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Phone Number" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <!--row3 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Medical Licence /ID" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Choose Clinic Name" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <!--row4 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="email" placeholder="Email-Address" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <!--row5 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input type="password" placeholder="Password" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <!--row7 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <button type="button" class="btn_register">Register</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>


</body>
</html>