@model DrReport.Models.Reserve

@{
    ViewData["Title"] = "FillIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <!--bootstrap css link-->
    <!--Css Link-->
    <link href="~/Styles/FillAppointment/style.css" rel="stylesheet" />
<link href="~/Styles/Main/main.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="form">
            <div>
                <h3>
                    Fill Appointment Data 
                </h3>
                <form asp-action="CreateAppointment" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label h4">@ViewBag.clinicName</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Choose Diagnosis Test</label>
                        <input asp-for="DtestId" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Reservation Date</label>
                        <input asp-for="ReservationDate" class="form-control" />
                        <span asp-validation-for="ReservationDate" class="text-danger"></span>
                    </div>
                    <div class="check">
                        <span>Allow Traffic regulator.</span>
                        <input type="checkbox" name="terms" onchange="validateTerms()">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn_confirm" />
                    </div>

                </form>
            </div>
            @*<div>
                <a asp-action="Index">Back to List</a>
            </div>*@
        </div>
    </div>
    <script src="~/Styles/FillAppointment/script.js"></script>
</body>
</html>




