
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="margin-top:50px">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search About Doctor">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">search</button>
            </div>
        </div>
        <table class="table" style="margin-top:50px">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Clinic Name</th>
                    <th scope="col">Working Hours</th>
                    <th scope="col">Location</th>
                    <th scope="col">Make Appointment</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Mohamed Ali</td>
                    <td>Refine Clinic</td>
                    <td>From 12 Am To 8 Pm </td>
                    <td>The 5th Settlement,cairo</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Mohamed Hossam</td>
                    <td>Teba Clinic</td>
                    <td>From 11 Am To 5 Pm</td>
                    <td>Gehan-St, Mansoura</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Ahmed Attia</td>
                    <td>Aqua Clinic</td>
                    <td>From 12 Am To 7 Pm</td>
                    <td>Nasr City-Cairo</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Tarek Ramadan</td>
                    <td>Treatment Solutions Clinic</td>
                    <td>From 4 Pm To 10 Pm</td>
                    <td>Galaa-st, Mansoura</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Abd El-Rahman Mohamed</td>
                    <td>Medical Zone Clinic</td>
                    <td>From 12 Am To 8 Pm</td>
                    <td>Talaat Harb Square-Cairo</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Ahmed Attia</td>
                    <td>Emergency Healthcare Clinic</td>
                    <td>From 1 Pm To 9 Pm</td>
                    <td>Bank Misr Street-Mansourh</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>

                <tr style="text-align: center;">
                    <td scope="col">Dr/ Roquia Mansour</td>
                    <td>Healthcare Abundance Clinic</td>
                    <td>From 11 Am To 3 Pm</td>
                    <td>Zamelek-Cairo</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Mohamed Essam</td>
                    <td>Be Well Health Care Clinic</td>
                    <td>From 2 Pm To 10 Pm</td>
                    <td>Salah Salem Street-Cairo</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Amr Fawzy</td>
                    <td>Life Clinic</td>
                    <td>From 11 Pm To 6 Pm</td>
                    <td>26 July Street-Cairo</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Make Appointment</td>
                </tr>
            </tbody>
        </table>

