@model DrReport.Models.DiseaseSymptom
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>

</head>


<div>

    <input type="hidden" id="txtvalue" />
    <select class="myselect" style="width:500px" multiple>
    </select>
    submit
    <input type="button" id="btnsend" value="submit here"/>
</div>
    <script>
        $(document).ready(function () {
            $(".myselect").select2({
                placeholder: "Symptom",
                theme: "classic",
                ajax: {
                    url: "/Inform/GetSymptomList",  /*controller action*/
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchTerm: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });
        });

        $(".btnsend").on("click", function () {

            var textBoxVal = $("#txtvalue").val();
            $.ajax({
                url: '/Inform/Save?ttr=' + textBoxVal,
                dataType: 'text',
                type: 'post',
                data: textBoxVal
            });
        });
    </script>



