@model DrReport.Models.Patient
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <!--bootstrap css link-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!--style css link-->
    <link rel="stylesheet" href="~/Styles/Signup/signup.css">
</head>
<body>
    <!--section with margin 4,3-->
    <section class="form my-4 mx-3">
        <div class="container">
            <div class="row no-gutters">
                <!--the left side  "Image"-->
                <div class="col-lg-6">
                    <img src="~/Styles/Signup/Images/main.png" class="img-fluid" alt="">
                </div>
                <!--the right side  "form"-->

                <div class="col-lg-6 px-7 pt-5">
                    <form asp-controller="PatientSignUp" asp-action="SignUp" method="post" class="mx-5 ">
                        <h1 class="head_signup">SIGN UP</h1>

                        <!-- signup as patient /doctor section   "pateint is selected"-->
                        <div>
                            <h3 class="head_selectaccount">Select Account Type</h3>
                            <nav aria-label="Signup as">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link bg-primary text-white" href="/PatientSignUp/index">Patient</a></li>
                                    <li class="page-item"><a class="page-link" href="/DoctorSignUp/index">Doctor</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!--row1 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input asp-for="User.Fname" type="text" placeholder="First Name" class="form-control my-1 p-4">
                                <span asp-validation-for="User.Fname" class="text-danger" style="font-size:small;"></span>
                            </div>
                        </div>

                        <!--row2 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input asp-for="User.Lname" type="text" placeholder="Last Name" class="form-control my-1 p-4">
                                <span asp-validation-for="User.Lname" class="text-danger" style="font-size:small;"></span>
                            </div>
                        </div>

                        <!--row3 in form-->
                        <div class="form-row">
                            <div class="col-lg-10 py-1">
                                <input asp-for="Age" type="number" placeholder="Age" class="form-control my-1 p-4">
                            </div>
                        </div>

                        <!--row4 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input asp-for="User.Pn" type="text" placeholder="Phone Number" class="form-control my-1 p-4">
                                <span asp-validation-for="User.Pn" class="text-danger" style="font-size:small;"></span>
                            </div>
                        </div>

                        <!--row4 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input asp-for="User.Email" type="email" placeholder="Email-Address" class="form-control my-1 p-4">
                                <span asp-validation-for="User.Email" class="text-danger" style="font-size:small;"></span>
                            </div>
                        </div>

                        <!--row5 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <input asp-for="User.Password" type="password" placeholder="Password" class="form-control my-1 p-4">
                                <span asp-validation-for="User.Password" class="text-danger" style="font-size:small;"></span>
                            </div>
                        </div>

                        <!--row6 in form-->
                        <div class="form-row">
                            <div>
                                <input id="x" asp-for="Gender" type="radio" name="gender" value="M">
                                <label for="male">Male </label>
                                <input id="x" asp-for="Gender" type="radio" name="gender" value="F">
                                <label for="female">Female </label>
                            </div>
                            <span asp-validation-for="Gender" class="text-danger px-2" style="font-size:small;"></span>
                        </div>
                        

                        <!--row7 in form-->
                        <div class="form-row">
                            <div class="col-lg-10">
                                <button type="submit" class="btn_register">Register</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
