
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="margin-top:30px">
        <table class="table">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Clinic Name</th>
                    <th scope="col">Send Date</th>
                    <th scope="col">Diagnosis Test Type</th>
                    <th scope="col">Diagnosis Result</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Mohamed Ali</td>
                    <td>Refine Clinic</td>
                    <td>2:18 PM, Tue, 4/27/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Mohamed Hossam</td>
                    <td>Teba Clinic</td>
                    <td>1:54 PM, Tue, 5/23/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Ahmed Attia</td>
                    <td>Aqua Clinic</td>
                    <td>5:00 PM, Tue, 3/3/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Tarek Ramadan</td>
                    <td>Treatment Solutions Clinic</td>
                    <td>4:20 PM, Tue, 9/13/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Abd El-Rahman Mohamed</td>
                    <td>Medical Zone Clinic</td>
                    <td>3:35 PM, Tue, 10/10/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Ahmed Attia</td>
                    <td>Emergency Healthcare Clinic</td>
                    <td>3:22 PM, Tue, 3/3/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>

                <tr style="text-align: center;">
                    <td scope="col">Dr/ Roquia Mansour</td>
                    <td>Healthcare Abundance Clinic</td>
                    <td>2:27 PM, Tue, 4/7/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Mohamed Essam</td>
                    <td>Be Well Health Care Clinic</td>
                    <td>4:54 PM, Tue, 5/3/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">Dr/ Omar El-said</td>
                    <td>Aqua Clinic</td>
                    <td>1:45 PM, Tue, 8/31/ 2021</td>
                    <td>Hematology</td>
                    <td class="btn btn-primary btn-sm btn-inline-center">Open Result</td>
                </tr>
            </tbody>
        </table>
        </div>
