
@{
    ViewData["Title"] = "ReportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <link href="~/Styles/SeeReport/main.css" rel="stylesheet" />
</head>
<body>

    <div class="container"
         style="margin-top:30px; border: 1px solid black; border-radius: 10px; font-size:large; font-family: Arial, Helvetica, sans-serif; ">
        <div class="row ">
            <div class="col" style="text-align: center; padding: 15px; font-size: x-large; font-weight: bold; ">
                Refine
                Clinic
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding-bottom: 15px;" class="name">
                Doctor Name : Mohamed Ali
            </div>
            <div class="col" style="text-align: center; padding-bottom: 15px;" class="name">
                Report Send Date : 5/17/2021
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;" class="name">
                Patient Name : Ahmed Said
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;padding-bottom: 15px; ">Email : ahmed_said55@gmail.com</div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">Report Reservation Data : 5/18/2021 </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">Age : 22</div>
        </div>

    </div>
    <!--============ End First Table ============-->
    <!--============ Start Second Table ============-->
    <div class="container" style="margin-top:30px">
        <table class="table">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col"> Investigation</th>
                    <th scope="col"> Results</th>
                    <th scope="col"> Unit </th>
                    <th scope="col"> Reference Range</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td scope="col">HAEMOGOLBIN</td>
                    <td>13</td>
                    <td>gm/dl</td>
                    <td>12 - 15</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">TOTAL LEUKOCYTE COUNT</td>
                    <td>12000</td>
                    <td>/cumm</td>
                    <td>4000 - 11000</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">NEUTROPHILS</td>
                    <td>40</td>
                    <td>%</td>
                    <td>40 - 70</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">MONOCYTES</td>
                    <td>5</td>
                    <td>%</td>
                    <td>2 - 10</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">LYMPHOCYTES</td>
                    <td> 40 </td>
                    <td>%</td>
                    <td>20 - 40</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">EOSINOPHILS</td>
                    <td>4</td>
                    <td>%</td>
                    <td>1 - 6</td>
                </tr>
                <tr style="text-align: center;">
                    <td scope="col">BASOPHILS</td>
                    <td>3</td>
                    <td>%</td>
                    <td>1-2</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>